@charset "utf-8";
/* CSS Document */

html {
  height: 100%;
  width: 100%;
}

body {
  border: 1px solid #000;
  height: 500px;
  margin: auto;
  width: 607px;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
